@use "sass:color";
@use "sass:meta";
@use "helpers";

@use "variables";
@import "noir-pro/styles.css";
@import "opendyslexic/styles.css";
@import "lexend/styles.css";
@include meta.load-css("root_variables");
@include meta.load-css("dark");
@include meta.load-css("accessibilite");

:focus-visible {
  outline: 2px solid variables.$primary;
  outline-offset: 2px;
}

body {
  font-family: "NoirPro", serif;
  margin: 0;
  padding: 0;
  color: #{variables.$text};

  --ant-button-default-color: #{variables.$text};
  --ant-select-color: #{variables.$text};
  --background-color: #{variables.$light-grey};
}

.full-app {
  background-image: radial-gradient(#e0e0e0 0%, variables.$light-grey 80%);
}

.header-skip-nav {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--ant-color-bg-container);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  button span {
    z-index: 500;
    font-weight: 700;
  }

  &:focus-within {
    transform: translateY(0);
  }
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-inline-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.d-flex-bottom-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.italic {
  font-style: italic;
}

.text-primary,
.text-primary input,
.text-primary .ant-input-group-addon,
.ant-btn-link,
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: variables.$primary !important;
}

.text-white {
  color: #fff !important;
}

.text-primary-light {
  color: variables.$primary-light !important;
}

.text-primary-contrast {
  color: variables.$primary-contrast !important;
}

.text-app {
  color: var(--color-app) !important;
}

.text-app-dark {
  color: variables.$orange !important;
}

.text-black {
  color: variables.$black !important;
}

.text-text,
.text-text input,
.text-text .ant-input-group-addon {
  color: variables.$text;

  &:hover {
    color: variables.$text;
  }
}

.text-warning {
  color: variables.$warning !important;
}

.text-success {
  color: variables.$success !important;
}

.text-danger,
.text-error {
  color: variables.$error !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-white,
.bg-white .ant-table-cell {
  background-color: #fff !important;
}

.bg-white-hover:hover {
  background-color: #fff !important;
  transition: background-color 0.3s;
}

.bg-primary {
  background-color: variables.$primary !important;
}

.bg-primary-light {
  background-color: variables.$primary-light !important;

  .ant-table-column-sort {
    background-color: variables.$primary-light !important;
  }
}

.bg-primary-light-hover:hover {
  background-color: variables.$primary-light !important;
  transition: background-color 0.3s;
}

.bg-app-light {
  background-color: variables.$app-light !important;
}

.bg-app {
  background-color: variables.$app !important;
}

.mb-8px {
  margin-bottom: 8px;
}

b,
.bold {
  font-weight: variables.$fw-bold !important;
}

.semi-bold,
.semi-bold .ant-select-selection-item {
  font-weight: variables.$fw-semi-bold !important;
}

.fw-regular {
  font-weight: variables.$fw-regular;
}

.light {
  font-weight: variables.$fw-light;
}

h3,
h4 {
  @extend .semi-bold;
}

.v-hidden {
  visibility: hidden;
}

.ant-segmented {
  background-color: var(--ant-color-fill-tertiary);
  font-weight: 300;

  .ant-segmented-item-selected {
    background-color: var(--color-app);
    color: variables.$text;
    border-radius: 100em;
    font-weight: 400;
  }
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  font-weight: 500;
}

.bg-intervenant,
.bg-ROLE_INTERVENANT {
  background-color: var(--color-intervenant);
  color: variables.$text;
}

.bg-beneficiaire,
.bg-ROLE_BENEFICIAIRE {
  background-color: var(--color-beneficiaire) !important;
  color: variables.$text;
}

.bg-beneficiaire-light {
  background-color: var(--color-beneficiaire-light);
  color: variables.$text;
}

.bg-demandeur,
.bg-ROLE_DEMANDEUR {
  background-color: var(--color-demandeur) !important;
  color: variables.$text;
}

.bg-demandeur-light {
  background-color: var(--color-demandeur-light);
  color: variables.$text;
}

.bg-renfort,
.bg-ROLE_RENFORT {
  background-color: var(--color-renfort);
  color: variables.$text;
}

.bg-renfort-light {
  background-color: var(--color-renfort-light);
  color: variables.$text;
}

.bg-intervenant-light {
  background-color: var(--color-intervenant-light);
  color: variables.$text;
}

.bg-light-grey {
  background-color: variables.$light-grey !important;
}

.text-intervenant {
  color: variables.$intervenant;
}

.text-beneficiaire {
  color: variables.$beneficiaire;
}

.text-legende {
  color: variables.$legende !important;
}

.text-grey {
  color: variables.$light-color !important;
}

.text-light {
  color: variables.$light-color;
}

.border-intervenant {
  border-color: variables.$intervenant !important;
}

.border-beneficiaire {
  border-color: variables.$beneficiaire !important;
}

.border-error,
.border-error-hover:hover {
  border-color: variables.$error !important;
}

.border-text {
  border-color: variables.$text !important;
}

.legende {
  color: variables.$legende;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: initial;
}

.checkbox-group-vertical {
  display: flex;
  flex-direction: column;

  .ant-checkbox-wrapper {
    margin-inline-start: 8px;
  }
}

.ant-form-vertical {
  .ant-form-item-label {
    padding: 0 0 2px;
  }

  .ant-form-item {
    margin-bottom: 8px;
  }
}

.ant-picker.text-center,
.ant-input-affix-wrapper.text-center,
.ant-input-number.text-center,
.ant-input-number-group-wrapper.text-center {
  input {
    text-align: center;
  }
}

.ant-picker.text-right,
.ant-input-affix-wrapper.text-right,
.ant-input-number.text-right,
.ant-input-number-group-wrapper.text-right {
  input {
    text-align: right;
    padding-right: 1rem;
  }
}

.ant-picker.semi-bold,
.ant-input-affix-wrapper.semi-bold {
  input {
    @extend .semi-bold;
  }
}

.ant-picker.text-primary,
.ant-input-affix-wrapper.text-primary {
  input {
    @extend .text-primary;
  }
}

.input-align-right .ant-form-item-control {
  text-align: right;
}

.ant-list-item-meta.meta {
  h4.ant-list-item-meta-title {
    margin-top: 0;
  }
}

.item-selected {
  transform: scale(1.05);
  transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
  @extend .shadow-1;
}

.ant-list.selectable {
  .ant-list-item {
    border-radius: variables.$radius;
    padding: 10px;
    cursor: pointer;

    &.ant-list-selectable-selected {
      @extend .item-selected;
    }
  }
}

.border-radius {
  border-radius: variables.$radius !important;
}

.border-radius-left {
  border-radius: variables.$radius 0 0 variables.$radius !important;
}

.ant-card-hoverable:hover {
  background-color: var(--color-app);
  transition: background-color 0.3s ease-out;
}

.pointer,
.pointer .cursor-default {
  cursor: pointer !important;
}

th.pointer {
  cursor: default !important;
}

.avatar-campus {
  background-color: variables.$primary;
}

.ant-switch-danger.ant-switch.ant-switch-checked {
  background-color: variables.$warning !important;
}

.ant-space-item-split {
  color: var(--ant-color-border);
}

.tab-bordered {
  .ant-tabs-nav {
    margin-bottom: 0;
  }

  .ant-tabs-content-holder {
    border: 1px solid var(--ant-color-border);
    border-top: transparent;
    border-radius: 0 variables.$radius variables.$radius variables.$radius;
    padding: 20px;
    height: 62vh;
    overflow: auto;
  }
}

.tag-ellipsis {
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-unstyled,
.input-unstyled input,
.input-unstyled .ant-input-group-addon {
  border: none !important;
  background-color: transparent !important;
  color: variables.$text;
}

.table-responsive .ant-table {
  td {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  overflow-x: auto;

  tbody tr:hover {
    td {
      transition: background-color 0.2s ease-out;
      border-top: 1px solid color.adjust(variables.$light-grey-border-dark, $lightness: -10%);
      border-bottom: 1px solid color.adjust(variables.$light-grey-border-dark, $lightness: -10%);
      background-color: color.adjust(variables.$light-grey, $lightness: -4%) !important;
    }
  }
}

.no-hover:hover {
  background-color: transparent !important;
}

.ant-table-caption {
  background-color: variables.$light-grey;
}

.float-button-fix .ant-float-btn-body {
  width: 50px !important;
  height: 50px !important;
}

.list-nostyle {
  padding: 0;
  margin: 0;

  li {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
}

.button-multiline {
  display: flex;
  align-items: center;
  white-space: normal;
  height: auto !important;
}

.ant-table table tbody tr,
.appear {
  animation: helpers.$anim-appear;
}

.ant-avatar {
  animation: helpers.$anim-avatar-appear;

  &:has(img) {
    background-color: transparent !important;
  }

  img {
    object-fit: contain;
    border-radius: variables.$radius;
  }
}

.ant-tag {
  animation: helpers.$anim-appear;
}

.ant-tag-yellow {
  border-color: variables.$app-contrast !important;
  color: variables.$app-contrast !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  .hide-on-overflow {
    display: none !important;
  }
}

.ant-segmented-item-selected .ant-segmented-item-label .ant-badge-color-yellow {
  background: var(--color-dark-yellow) !important;
}

.show-on-overflow {
  display: none;
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  .show-on-overflow {
    display: block !important;
  }
}

.ant-pagination-total-text {
  font-size: 0.9rem;
}

.cursor-default {
  cursor: default !important;
}

.table-row-deleted {
  background-color: var(--ant-color-fill-secondary);
  opacity: 0.75;
  filter: grayscale(1);
}

.table-thead-sticky thead {
  position: sticky;
  top: 0;
  z-index: 43;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.campagnes-tabs {
  padding: 20px;

  .ant-tabs-nav-list {
    width: 100%;

    .ant-tabs-tab:not(:has(~ .ant-tabs-tab)) {
      margin-left: auto !important;
    }
  }

  .ant-tabs-nav {
    margin-bottom: 0;
  }

  .ant-tabs-content-holder {
    background-color: var(--ant-color-bg-container);
    border-radius: 0 0 variables.$radius variables.$radius;
    padding: 20px;
  }
}

.btn-danger-hover:hover {
  border-color: variables.$error !important;
  color: variables.$error !important;
}

.btn-label-hover {
  .ant-btn-icon {
    margin-inline-end: 0 !important;
  }

  span:nth-child(2) {
    display: none;
  }
}

.btn-label-hover:hover {
  .ant-btn-icon {
    margin-right: 8px !important;
  }

  span:nth-child(2) {
    display: inline-block;
  }
}

.ant-list-bordered {
  border: 1px solid var(--ant-color-border);
  border-radius: variables.$radius;
}

.ant-list-radius {
  .ant-list-item {
    border: 1px solid variables.$light-grey-border !important;
    padding: 16px;
    border-radius: variables.$radius;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:hover {
      transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
      background-color: variables.$light-grey;
      @extend .shadow-1;
    }
  }

  &.no-hover .ant-list-item {
    &:hover {
      background-color: transparent;
      box-shadow: none !important;
    }
  }
}

.ant-radio-vertical .ant-radio-wrapper {
  display: flex;
}

@media print {
  .hide-on-print {
    display: none;
  }

  h1 {
    font-size: 1em !important;
  }
}

@keyframes slide {
  75% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.ant-list-animated .ant-list-item {
  opacity: 0;
  transform: translateX(-10px);
  animation: slide 0.25s forwards;
}

.selector-max-height-32 .ant-select-selector {
  max-height: 32px;
}

.tag-beneficiaire {
  background-color: variables.$app !important;
  border-color: variables.$app !important;
  color: variables.$text !important;

  &.tag-beneficiaire-big {
    font-size: 1.05rem;
    padding: 4px 8px;
  }
}

// animation
@keyframes anim-shadow-appear {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 10px 17px rgb(0 0 0 / 15%);
    border-color: #ccc;
  }
}

.highlightAmenagement {
  animation: anim-shadow-appear 0.5s forwards 0.5s;
}

.btb-1 {
  border-top: 2px solid var(--ant-color-border);
  border-bottom: 2px solid var(--ant-color-border);
}

.avisese-non-en-cours {
  opacity: 0.6;
}

.avisese-non-en-cours:hover {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.ant-badge .ant-badge-count-sm,
.small-badge {
  font-size: 12px;
}

.ant-badge-color-yellow {
  color: variables.$text !important;
}

.ant-tag,
.ant-tag .ant-typography {
  font-size: 0.9rem;
}

.monospaced {
  font-family: "Roboto Mono", monospace !important;
}

.border-split-left {
  border-left: 3px solid var(--ant-color-border);

  &:before {
    content: "";
    position: absolute;
    left: -7px;
    top: -3px;
    height: 3px;
    width: 11px;
    background-color: var(--ant-color-border-secondary);
  }

  &:after {
    content: "";
    position: absolute;
    left: -7px;
    bottom: -3px;
    height: 3px;
    width: 11px;
    background-color: var(--ant-color-border-secondary);
  }
}

a,
footer .ant-btn-link {
  text-decoration: underline;
  text-underline-offset: 0.2em;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }
}

.ant-pagination a {
  text-decoration: none;
}

.ant-tag-green {
  background: var(--color-light-green) !important;
  color: var(--color-dark-green) !important;
  border-color: var(--color-green) !important;
}

.ant-tag-purple {
  background: var(--color-light-deepPurple) !important;
  color: var(--color-dark-deepPurple) !important;
  border-color: var(--color-deepPurple) !important;
}

.ant-tag-red {
  background: var(--color-light-red) !important;
  color: variables.$text !important;
  border-color: var(--color-red) !important;
}

.ant-tag-orange {
  background: var(--color-light-orange) !important;
  color: variables.$text !important;
  border-color: var(--color-orange) !important;
}

.ant-tag-volcano {
  background: var(--color-light-deepOrange) !important;
  color: variables.$text !important;
  border-color: var(--color-deepOrange) !important;
}

.ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-description {
  color: variables.$legende;
}

.ant-table-has-fix-start {
  overflow-y: hidden;
}

.bg-grey-light, .bg-grey-light td {
  background-color: variables.$light-grey !important;
}

